@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

h1 {
    font-size: 64px;
    color: #1a202c;
    line-height: 1.2;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 20px;
}

main {
    margin-bottom: 96px;
}

/* NAVBAR ↓*/

    
nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}


.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms ease;
}

.nav__link {
    margin: 0 24px;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms 
ease;
    opacity: 0;
}

a {
    display: inline;
    text-decoration: none;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms 
ease;

}

.nav__link--primary:hover {
    background-color: rgb(80, 17, 204);
    color: white;
}

.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}

/* Hide mobile menu by default */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    background-color: white;
    transform: translateX(100%);
    transition: transform 300ms ease;
    z-index: 100;
    display: none; /* Add this if it's not already there */
}

.menu--open {
    transform: translateX(0);
    display: block;
}

/* Hide mobile menu button on desktop */
@media (min-width: 768px) {
    .btn__menu {
        display: none !important;
    }
    .menu {
        display: none !important;
    }
}

.container {
    padding: 96px 0;
}

header {
    position: relative;
}


.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}



.header__description {
    width: 50%;
}

.header__description--para {
    margin: 32px 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
    }

    .header__img {
    width: 100%;
    max-width: 640px;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

img {
    width: 100%;
}


.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}
.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}


#features {
    position: relative;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}
.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}
.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}
.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}
.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.quality__description, .quality__img--wrapper {
    width: 50%;
}
.quality__img--wrapper {
  position: relative;
}


.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__img {
    position: relative;
    z-index: 2;
}

img {
    width: 100%;
}

#quality .btn {
    margin-top: 32px;
}


.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms 
ease;
    cursor: pointer;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn:hover {
    background-color: rgba(80, 17, 204);
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

/* 

VALUES ↓

*/

.container {
    padding: 96px 0;
}

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.steps__img--wrapper {
    width: 50%;
}
.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}
img {
    width: 100%;
}

@media (max-width: 1280px) {
    .steps__grid {
        height: 5rem;
        width: 5rem;
        bottom: -50px;
    }
}
.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}

g[Attributes Style] {
    fill: rgba(100, 21, 255, 0.15);
}

use[Attributes Style] {
    transform: translate(0, 0);
}

user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}


.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}